@import "function&colors.scss";

* {
  font-family: 'Barrio', cursive;
  box-sizing: border-box;
}

body {
  background-color: $body-bg-color;
}

.app__container{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  margin: 0 auto;
  background-color: $main-bg-color;
}
