
.icon-ok:before { content: '\e800'; } /* '' */
.icon-ok-outline:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-plus-outline:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */